In [1]:
import pandas as pd

In [2]:
dfa = pd.read_csv('results.csv')

In [3]:
dfa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41535,2019-11-19,Kyrgyzstan,Tajikistan,1,1,FIFA World Cup qualification,Bishkek,Kyrgyzstan,False
41536,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Hanoi,Vietnam,False
41537,2019-11-19,Malaysia,Indonesia,2,0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,False
41538,2019-11-19,Turkmenistan,Sri Lanka,2,0,FIFA World Cup qualification,Ashgabat,Turkmenistan,False
41539,2019-11-19,Lebanon,North Korea,0,0,FIFA World Cup qualification,Beirut,Lebanon,False

In [4]:
dfa.shape

(41540, 9)

In [5]:
dfa.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score',
       'tournament', 'city', 'country', 'neutral'],
      dtype='object')

In [6]:
listx = list(dfa['tournament'].unique())

In [7]:
listx

['Friendly',
 'British Championship',
 'Copa Lipton',
 'Copa Newton',
 'Copa Premio Honor Argentino',
 'Copa Premio Honor Uruguayo',
 'Copa Roca',
 'Copa América',
 'Copa Chevallier Boutell',
 'Nordic Championship',
 'International Cup',
 'Baltic Cup',
 'Balkan Cup',
 'FIFA World Cup',
 'Copa Rio Branco',
 'FIFA World Cup qualification',
 'CCCF Championship',
 'NAFU Championship',
 'Copa Oswaldo Cruz',
 'Pan American Championship',
 'Copa del Pacífico',
 "Copa Bernardo O'Higgins",
 'AFC Asian Cup qualification',
 'Atlantic Cup',
 'AFC Asian Cup',
 'African Cup of Nations',
 'Copa Paz del Chaco',
 'Merdeka Tournament',
 'UEFA Euro qualification',
 'UEFA Euro',
 'Windward Islands Tournament',
 'African Cup of Nations qualification',
 'Vietnam Independence Cup',
 'Copa Carlos Dittborn',
 'CONCACAF Championship',
 'Copa Juan Pinto Durán',
 'UAFA Cup',
 'South Pacific Games',
 'CONCACAF Championship qualification',
 'Copa Artigas',
 'GaNEFo',
 "King's Cup",
 'Gulf Cup',
 'Indonesia Tournament',
 'Korea Cup',
 'Brazil Independence Cup',
 'Copa Ramón Castilla',
 'Oceania Nations Cup',
 'CECAFA Cup',
 'Copa Félix Bogado',
 'Kirin Cup',
 'CFU Caribbean Cup qualification',
 'CFU Caribbean Cup',
 'Amílcar Cabral Cup',
 'Mundialito',
 'West African Cup',
 'Nehru Cup',
 'Merlion Cup',
 'UDEAC Cup',
 'Rous Cup',
 'Lunar New Year Cup',
 'Tournoi de France',
 'Malta International Tournament',
 'Island Games',
 'Dynasty Cup',
 'UNCAF Cup',
 'Gold Cup',
 'USA Cup',
 'Jordan International Tournament',
 'Confederations Cup',
 'United Arab Emirates Friendship Tournament',
 'Oceania Nations Cup qualification',
 'Simba Tournament',
 'SAFF Cup',
 'AFF Championship',
 'King Hassan II Tournament',
 'Cyprus International Tournament',
 'Dunhill Cup',
 'COSAFA Cup',
 'Gold Cup qualification',
 'SKN Football Festival',
 'UNIFFAC Cup',
 'WAFF Championship',
 'Millennium Cup',
 "Prime Minister's Cup",
 'EAFF Championship',
 'AFC Challenge Cup',
 'FIFI Wild Cup',
 'ELF Cup',
 'Viva World Cup',
 'UAFA Cup qualification',
 'AFC Challenge Cup qualification',
 'African Nations Championship',
 'VFF Cup',
 'Dragon Cup',
 'ABCS Tournament',
 'Nile Basin Tournament',
 'Nations Cup',
 'Pacific Games',
 'OSN Cup',
 'CONIFA World Football Cup',
 'CONIFA European Football Cup',
 'Copa América qualification',
 'World Unity Cup',
 'Intercontinental Cup',
 'AFF Championship qualification',
 'UEFA Nations League',
 'CONCACAF Nations League qualification',
 'African Nations Championship qualification',
 'Atlantic Heritage Cup',
 'Inter Games Football Tournament',
 'CONCACAF Nations League']

In [8]:
dfa.tournament.value_counts()

Friendly                                17036
FIFA World Cup qualification             7236
UEFA Euro qualification                  2582
African Cup of Nations qualification     1672
FIFA World Cup                            900
                                        ...
OSN Cup                                     4
World Unity Cup                             4
Atlantic Heritage Cup                       2
Copa América qualification                  2
AFF Championship qualification              2
Name: tournament, Length: 112, dtype: int64

In [9]:
dfa['year'] = pd.DatetimeIndex(dfa['date']).year

In [10]:
dfa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876
...,...,...,...,...,...,...,...,...,...,...
41535,2019-11-19,Kyrgyzstan,Tajikistan,1,1,FIFA World Cup qualification,Bishkek,Kyrgyzstan,False,2019
41536,2019-11-19,Vietnam,Thailand,0,0,FIFA World Cup qualification,Hanoi,Vietnam,False,2019
41537,2019-11-19,Malaysia,Indonesia,2,0,FIFA World Cup qualification,Kuala Lumpur,Malaysia,False,2019
41538,2019-11-19,Turkmenistan,Sri Lanka,2,0,FIFA World Cup qualification,Ashgabat,Turkmenistan,False,2019
41539,2019-11-19,Lebanon,North Korea,0,0,FIFA World Cup qualification,Beirut,Lebanon,False,2019

In [11]:
fifa = dfa[dfa['tournament']=='Friendly']

In [12]:
fifa

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,1876
...,...,...,...,...,...,...,...,...,...,...
41519,2019-11-19,Brazil,South Korea,3,0,Friendly,Abu Dhabi,United Arab Emirates,True,2019
41520,2019-11-19,Croatia,Georgia,2,1,Friendly,Pula,Croatia,False,2019
41521,2019-11-19,Ecuador,Colombia,0,1,Friendly,Harrison,United States,True,2019
41522,2019-11-19,Montenegro,Belarus,2,0,Friendly,Podgorica,Montenegro,False,2019
41523,2019-11-19,Saudi Arabia,Paraguay,0,0,Friendly,Riyadh,Saudi Arabia,False,2019

In [13]:
fifa.year.unique()

array([1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882,
       1883, 1885, 1886, 1888, 1902, 1903, 1904, 1905, 1906, 1907, 1908,
       1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919,
       1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930,
       1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941,
       1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952,
       1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963,
       1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
       1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985,
       1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996,
       1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007,
       2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018,
       2019], dtype=int64)

In [14]:

dfa.tournament.value_counts()

Friendly                                17036
FIFA World Cup qualification             7236
UEFA Euro qualification                  2582
African Cup of Nations qualification     1672
FIFA World Cup                            900
                                        ...
OSN Cup                                     4
World Unity Cup                             4
Atlantic Heritage Cup                       2
Copa América qualification                  2
AFF Championship qualification              2
Name: tournament, Length: 112, dtype: int64

In [20]:
dfa[(dfa.tournament == 'FIFA World Cup') & (dfa.city == 'London') & (dfa.home_score==0)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
6200,1966-07-11,England,Uruguay,0,0,FIFA World Cup,London,England,False,1966
6220,1966-07-19,Mexico,Uruguay,0,0,FIFA World Cup,London,England,True,1966

In [22]:
dfa[(dfa.city == 'London') & (dfa.home_score - dfa.away_score>5)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,year
1254,1929-11-20,England,Wales,6,0,British Championship,London,England,False,1929
1448,1931-12-09,England,Spain,7,1,Friendly,London,England,False,1931
2902,1948-12-02,England,Switzerland,6,0,Friendly,London,England,False,1948
4893,1961-04-15,England,Scotland,9,3,British Championship,London,England,False,1961
4912,1961-05-10,England,Mexico,8,0,Friendly,London,England,False,1961
8747,1973-09-26,England,Austria,7,0,Friendly,London,England,False,1973
12427,1982-12-15,England,Luxembourg,9,0,UEFA Euro qualification,London,England,False,1982
14632,1987-10-14,England,Turkey,8,0,UEFA Euro qualification,London,England,False,1987
17443,1993-02-17,England,San Marino,6,0,FIFA World Cup qualification,London,England,False,1993
22238,1999-09-04,England,Luxembourg,6,0,UEFA Euro qualification,London,England,False,1999
31298,2009-06-10,England,Andorra,6,0,FIFA World Cup qualification,London,England,False,2009
41379,2019-11-14,England,Montenegro,7,0,UEFA Euro qualification,London,England,False,2019